@import "../../constants/colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

.product-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-width: 100%;
  max-width: 1325px;
}
